<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/static/web_app/js/bootstrap.min.js"></script>

<script>
    var WebApp = window.Telegram.WebApp;
    
    var userId = JSON.parse(new URLSearchParams(window.Telegram.WebApp.initData).get('user')).id;
    WebApp.showAlert(`Добро пожаловать, ${userId}`);

    let initData = window.Telegram.WebApp.initData;
    var initDataHash = initData.get('hash');

    initData.delete('hash');
    initData.sort();
    var dataCheckString = initData.toString();
    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;




    async function sendForm() {

        let requestParams = {
			'initDataHash': initDataHash,
			'dataCheckString': dataCheckString,
		}

        const url = 'post';
        const data = WebApp.initDataUnsafe;
        // const data = {key1: 'pidor', key2: 'metla'}

        // let xhr = new XMLHttpRequest();
		// xhr.open('POST', url);
		// xhr.send();

        fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
          }, 
        body: JSON.stringify(requestParams),
        })
        // .then(response => response.json())
        // .then(data => {
        //     console.log('Ответ от сервера:', data);
        // })
        // .catch(error => {
        //     console.error('Произошла ошибка:', error);
        // })
    };

    // работа кнопок хедера
    var mainBlock = document.getElementById("main-block")
    var priceBlock = document.getElementById("price-block")
    var howtoBlock = document.getElementById("howto-block")
    var mainNavItem = document.getElementById("mainNavItem")
    var priceNavItem = document.getElementById("priceNavItem")
    var infoNavItem = document.getElementById("infoNavItem")

    function showMainBlock () {
        mainBlock.classList.remove('hide-block');
        howtoBlock.classList.add('hide-block');
        priceBlock.classList.add('hide-block');
        
        mainNavItem.classList.add('active');
        priceNavItem.classList.remove('active');
        infoNavItem.classList.remove('active');

    }

    function showPriceBlock () {
        mainBlock.classList.add('hide-block');
        howtoBlock.classList.add('hide-block');
        priceBlock.classList.remove('hide-block');

        mainNavItem.classList.remove('active');
        priceNavItem.classList.add('active');
        infoNavItem.classList.remove('active');
    }

    function showInfoBlock () {
        mainBlock.classList.add('hide-block');
        howtoBlock.classList.remove('hide-block');
        priceBlock.classList.add('hide-block');

        mainNavItem.classList.remove('active');
        priceNavItem.classList.remove('active');
        infoNavItem.classList.add('active');
    }

    // переключение с главного экрана по процесс оформления 
    // билета или заявки на перевозку посылки
    document.addEventListener('click', (e) => {
        if (e.target.closest('[id=travel-btn]')) {
            e.preventDefault();
            console.log('tyt');
        } 
        if (e.target.closest('[id=post-btn]')) {
            e.preventDefault();
            sendForm();
        }
    })
</script>